DIY Power Menu - All Sensors tile/flows.json
[{"id":"21a4ec7.b786c14","type":"tab","label":"Power Menu - All Sensor Tiles","disabled":false,"info":"\n\n![enter image description here](https://notenoughtech.com/wp-content/uploads/2021/05/Power-Menu-all-sensors.jpg)\nTaking Power Tiles from Android11 to the next level! Thanks to this project you can display all sensor data in a single tile.\n\n - [Complete instructions](https://notenoughtech.com/tasker/power-menu-all-sensors/)\n\n**Features**:\n-   ✅ timed (rooms are displayed in a timed sequence)\n-   ✅ requested (tapping the tile takes you to the next room)\n-   ✅ mixed (you can combine both)\n-   ✅ supports C|F units and hPa and inHg\n\n\n## Requirements\n\n - node-red-dashboard\n - node-red-contrib-joinapp\n - [Tasker Project](https://taskernet.com/shares/?user=AS35m8mukRNi0KvTv9JF6LyKMewcG%2BW7EzpF3a%2FGvwJJTFwWQ1%2BU3QCMEmxTS%2F07urNK%2FTAL&id=Project%3APower+Menu+-+Sensors)\n - download and extract .zip with icons into Tasker directory\n\n\n\n# Settings\n\nDownload the tasker project, and head to my [GitHub page](https://github.com/notenoughtech/Tasker/tree/main/DIY%20Power%20Menu%20-%20All%20Sensors%20tile) to get the JSON configuration file for NodeRED. Check the settings node in NodeRED and run the default task to create your own Sensor tile, then add it to the active roster.\n\n - **settings** - Check \"on Start\" tab and add Join devices by name, select your units\n\n \n ## More about me:\n\nIf you want to get the latest updates to this project you can follow me via your preferred social media:\n\n-   [Facebook](https://www.facebook.com/NotEnoughTECH/)\n-   [Twitter](https://twitter.com/NotEnoughTECH)\n-   [Instagram](https://www.instagram.com/notenoughtech/)\n-   [YouTube](https://www.youtube.com/user/Polepositionpage)\n\nAnd if you feeling like buying me a coffee or supporting me in a more continuous way:\n\n-   [Paypal](https://www.paypal.me/notenoughtech)\n-   [Patreon](https://www.patreon.com/NotEnoughTECH)\n\nI hope you have enjoyed the project!\n"},{"id":"5c40e6fb.093578","type":"group","z":"21a4ec7.b786c14","name":"Save Sensor Data","style":{"stroke":"#0070c0","fill":"#bfdbef","label":true,"label-position":"n","color":"#777777"},"nodes":["b47f122e.cf63","ac213599.a2fd88","ae42aa48.a75968","225c27d7.63f158","a53d5587.951fc8","4e0d6ba8.884364","72fe26ec.90dd18","fa7a198d.181b28","abd21847.00f498"],"x":74,"y":159,"w":632,"h":262},{"id":"b61a1cab.20678","type":"group","z":"21a4ec7.b786c14","name":"Power Menu - Sensor data","style":{"label":true},"nodes":["348d1640.65d4da","8a4edc14.29955","597ad6d6.e3a188"],"x":74,"y":459,"w":592,"h":82},{"id":"348d1640.65d4da","type":"function","z":"21a4ec7.b786c14","g":"b61a1cab.20678","name":"Send Sensor Data","func":"var data = flow.get(\"sensorData\");\nvar devices = flow.get(\"devices\");\n\n\nvar comm =  \"sensorUpdate=:=\" + JSON.stringify(data);\n\n// return only when there is data\nif(data.data[0] !== undefined){\n    msg.push = {\"devices\" : devices,\n                \"text\": comm};\n    \n    return msg;\n}\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":500,"wires":[["597ad6d6.e3a188"]]},{"id":"7421009f.ab4d","type":"function","z":"21a4ec7.b786c14","name":"Settings","func":"// see on start tab\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\n \n//temperature template and unit preferences\n var data = {\"tempC\": true,      //true for ℃ false for F\n             \"pressureP\": true,  //true for hPa, false for inch Hg\n             \"data\": []\n            };\n flow.set(\"sensorData\", data); \n\n// Join device names that the data is sent to\nvar devices = \"Mi11, Pixel3\";\nflow.set(\"devices\", devices);\n ","finalize":"","libs":[],"x":140,"y":120,"wires":[[]]},{"id":"8a4edc14.29955","type":"inject","z":"21a4ec7.b786c14","g":"b61a1cab.20678","name":"every 5 min","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":500,"wires":[["348d1640.65d4da"]]},{"id":"b47f122e.cf63","type":"mqtt in","z":"21a4ec7.b786c14","g":"5c40e6fb.093578","name":"Bedroom Sensor","topic":"zigbee2mqtt/Bedroom ","qos":"0","datatype":"json","broker":"6e117ba5.8026e4","nl":false,"rap":true,"rh":0,"x":180,"y":200,"wires":[["ae42aa48.a75968"]]},{"id":"ac213599.a2fd88","type":"function","z":"21a4ec7.b786c14","g":"5c40e6fb.093578","name":"Store Data","func":"var data = msg.payload;\nvar name = msg.topic;\nvar sensorData = flow.get(\"sensorData\");\n\n//(0°C × 9/5) + 32 = 32°F\n\nfunction unitT(t){\n    if(sensorData.tempC === true){\n        return t;\n    }\n    else{\n        if(t !== null){\n            var tempF = ((t * 9)/5) + 32;\n            return tempF;\n        }\n        else{return t;}\n    }\n}\nfunction unitP(p){\n    if(sensorData.pressureP == true){\n      return p;  \n    }\n    else{\n        if(p !== null){\n            let pHG = Math.round(p/33.6585);\n            return pHG;\n        }\n        else{return p;}\n        \n    }\n    \n}\n\nfunction find(array, attr, value) {\n    for(var i = 0; i < array.length; i += 1) {\n        if(array[i][attr] === value) {\n            return i;\n        }\n    }\n    return -1;\n}\n\nvar temp, humidity, pressure = null;\n\n//check what sensors are available and assign values\nif(data.temperature !== undefined){\n    temp = data.temperature;\n}\nif(data.pressure !== undefined){\n    pressure = data.pressure;\n}\nif(data.humidity !== undefined){\n    humidity = data.humidity;\n}\n\nvar datapoint = {\"temperature\" :  unitT(temp),\n                 \"humidity\" : humidity,\n                 \"pressure\": unitP(pressure)\n    \n}\n\n//find existing sensor data or add a new sensor data\nvar index = find(sensorData.data, \"sensorName\", name);\n\n\nif(index === -1 ){sensorData.data.push({\"sensorName\": name, \"sensorData\" : datapoint });}\nelse{sensorData.data[index] = {\"sensorName\": name, \"sensorData\" : datapoint };}\n\nflow.set(\"sensorData\", sensorData);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":300,"wires":[[]]},{"id":"597ad6d6.e3a188","type":"join-message","z":"21a4ec7.b786c14","g":"b61a1cab.20678","name":"","text":"","title":"","url":"","notificationicon":"","joinConfig":"1c0401ee.9b9bfe","x":580,"y":500,"wires":[[]]},{"id":"ae42aa48.a75968","type":"change","z":"21a4ec7.b786c14","g":"5c40e6fb.093578","name":"Bedroom","rules":[{"t":"set","p":"topic","pt":"msg","to":"Bedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["ac213599.a2fd88"]]},{"id":"225c27d7.63f158","type":"mqtt in","z":"21a4ec7.b786c14","g":"5c40e6fb.093578","name":"Kitchen Sensor","topic":"zigbee2mqtt/Kitchen ","qos":"0","datatype":"json","broker":"6e117ba5.8026e4","nl":false,"rap":true,"rh":0,"x":180,"y":260,"wires":[["a53d5587.951fc8"]]},{"id":"a53d5587.951fc8","type":"change","z":"21a4ec7.b786c14","g":"5c40e6fb.093578","name":"Kitchen ","rules":[{"t":"set","p":"topic","pt":"msg","to":"Kitchen ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["ac213599.a2fd88"]]},{"id":"4e0d6ba8.884364","type":"mqtt in","z":"21a4ec7.b786c14","g":"5c40e6fb.093578","name":"Office Sensor","topic":"zigbee2mqtt/Office ","qos":"0","datatype":"json","broker":"6e117ba5.8026e4","nl":false,"rap":true,"rh":0,"x":170,"y":320,"wires":[["72fe26ec.90dd18"]]},{"id":"72fe26ec.90dd18","type":"change","z":"21a4ec7.b786c14","g":"5c40e6fb.093578","name":"Office ","rules":[{"t":"set","p":"topic","pt":"msg","to":"Office ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[["ac213599.a2fd88"]]},{"id":"fa7a198d.181b28","type":"mqtt in","z":"21a4ec7.b786c14","g":"5c40e6fb.093578","name":"Study Sensor","topic":"zigbee2mqtt/Study ","qos":"0","datatype":"json","broker":"6e117ba5.8026e4","nl":false,"rap":true,"rh":0,"x":170,"y":380,"wires":[["abd21847.00f498"]]},{"id":"abd21847.00f498","type":"change","z":"21a4ec7.b786c14","g":"5c40e6fb.093578","name":"Study ","rules":[{"t":"set","p":"topic","pt":"msg","to":"Study ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["ac213599.a2fd88"]]},{"id":"6e117ba5.8026e4","type":"mqtt-broker","name":"MQTT","broker":"home.local","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1c0401ee.9b9bfe","type":"join-config","name":"Join Config","register":true}]